/* common */

body {
    margin: 0;
    padding: 0;
    color: #222;
    font-family: 'Abril Fatface', cursive ,'Noto Serif JP', serif;
}

h1,h2,h3,h4 ,p{
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

ul{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

h1 img {
    width: 100%;
    height: auto;
}
h1 {
    width: 100px;
}

header {
    background: #eee;
    position: relative;
    height: 100px;
    z-index: 10;
}


header nav ul {
    position: absolute;
    top: 0px;
    right: 100px;
    height: 100px;
    line-height: 100px;

}

nav ul li{
    float: left;
    margin-left:55px;
    letter-spacing: 0.3rem;
}

nav ul li:first-child {
    margin-left:0 ;
}

nav ul li:hover {
    opacity: 0.7;
}

footer {
    background: #eee;
    text-align: center;
}

footer nav {
    margin: 26px 0 33px 0;
}

footer h2 {
    padding-top:29px;
}


/* top-page */

.main-eyecatch{
    height: 500px;
    background: #aaa;
    background-image: url("../images/image10.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.main-eyecatch::before {
    content: '';
    background: inherit;
    position: absolute;
    top:-5px;
    right:-5px;
    bottom:-5px;
    left:-5px;
    //filter:blur(5px);
    filter: contrast(50%);;
    z-index: -1;
}



.main-eyecatch-text {
    padding-top:170px;
}
.main-eyecatch-logo {
    margin-top: 44px;
}

/* 後からaタグいれたらおかしくなった・・・ */
.reserve-button {
    width: 248px;
    height: 57px;
    //border:2px solid #ddd;
    background:#ddd;
    line-height: 57px;
    text-align: center;
    //float: left;
    margin-top:21.5px ;
    box-shadow:3px 3px 10px rgba(0,0,0,0.2);
    transition:all .3s;
}


.reserve-button:first-child {
    margin-right:102px ;
}

.reserve-button:hover {
    box-shadow: 3px 3px 20px rgba(0,0,0,0.4);
    transform: translateY(-3px);
    
}

.reserve-button:active {
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    transform: translateY(0px);
    
}


.reserve-button-container{
    height: 100px;
    //background: #fee;
    display: flex;
    justify-content: center;
    margin-bottom:68px;

}

.main-p{
    text-align: center;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;

    /* //グラデーションの練習 */

    color: #ACB6E5;
    background: -webkit-linear-gradient(0deg, #a3ccb1 25%,#a3ccb1 50%,#e5b8a1 75%,#bcacbf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}



.section-feature-inner  {
    width: 980px;
    height: 583px;
    margin: 0 auto;
    text-align: center;
    //background: #ddd;
}

.section-feature-3col {
    
    display: flex;
    justify-content: center;
    
}


.section-feature-3col-card {
    width: 310px;
    box-sizing: border-box;
    text-align: center;
    background: #eee;
    margin-right: 20px;
    padding:5px 5px 15px 5px;
    box-shadow: 3px 3px 10px rgba(0, 0,0,0.2);
    letter-spacing: 0.1rem;
}

.section-feature-3col-card:last-child {
    margin-right: 0;
}

.section-feature-3col-btn {
    width: 178px;
    height: 45px;
    margin: 0 auto;
    background: #e8e;
    line-height: 45px;
    //font-weight: bold;
    color: #fff;
}

.section-feature-3col-text {
    font-size: 14px;
    line-height: 1.5rem;
    text-align: left;
    height:110px ;
}

.section-feature-3col-card h4{
    margin: 10px 0;
    font-weight: 400;
}

.section-title {
    padding: 22px 0 15px 0;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    
}

.sub-title {
    font-size: 13px;
    margin-bottom:27px;

}

.section-price-card {
    display: flex;
    background: #fff;
    border-radius: 10px;
    width: 360px;
    height: 92px;
    font-weight: bold;
    margin-bottom: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0,0,0.2);
}
.section-price-card:nth-child(2n+1) {
    margin-right: 57px;
}

.section-price-card-left {
    text-align: center;
    width:190px;
    display: flex;
    align-items: center;
}

.section-price-card-right {
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #e8e;
}

.section-price-card-right span {
    font-size: 0.7rem
}

.section-price-card-text {
    width: 170px;
    margin: 0 auto;
}

.section-price-inner {

    width: 980px;
   
    margin: 0 auto;
    text-align: center;

}

.section-price-card-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#price {
    background: chartreuse;
    background-image:url("../images/12.jpg");
    background-size: cover;
    background-position: center;
    height:482px;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

#price::before {
    content: '';
    background: inherit;
    position: absolute;
    top:-5px;
    right:-5px;
    bottom:-5px;
    left:-5px;
    filter: contrast(50%);;
    z-index: -1;

}

.section-price-btn {
    font-weight: bold;
    width: 247px;
    height:51px;
    background: #fff;
    line-height: 51px;
    margin: 25px auto;

    position: relative;
    
}

.section-price-btn p{
    z-index: 10;
}

.section-price-btn::before {
    content: '';
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //z-index: -1;
    background: #111;
    transform-origin:right top;
    transform: scale(0, 1);
    transition: transform .3s;
}

.section-price-btn:hover::before {
    
    transform-origin:left top;
    transform: scale(1, 1);
}

.section-price-btn:hover {
    color: #fff;
}


.section-news-campagin-container {
    display: flex;
    justify-content: center;
    width: 980px;
    margin: 0 auto;
    
}

.section-news-inner , .section-campagin-inner {
    text-align: center;
    padding: 20px;
}

#news dl {
    border-bottom: 2px dashed #333;
    width: 445px;
    line-height: 3rem;

    margin: 0 auto;
}

#news dt {
    float: left;
    clear: left;
    margin-right: 40px;
}

#news dd {
    text-align: left;
}



.banner{
    margin-bottom: 20px;
    overflow: hidden;
}

.banner:hover img{
    transition: transform 0.3s ease;
}

.banner:hover img{
    transform: scale(1.03);
}


@media screen and (max-width: 959px) {

    .reserve-button:first-child {
        margin-right:20px ;
    }

    .reserve-button-container{
        height: 100px;
        display: flex;
        justify-content:space-around;     
    }

    

    .main-p{
        padding: 5px 10px;
        text-align: left;
        line-height: 1.8rem;
        letter-spacing: 0.1rem;
    }
    
    

    .section-feature-inner  {
        width: 90%;
        height: auto;

    }

    .section-feature-3col {
    
        display: block;
        background: lightblue;
        
    }

    .section-feature-3col-card {
      margin:20px auto;
    }

    .section-feature-3col-card:last-child {
        margin:20px auto;
    }

    .section-price-card-area {
        display: block;
    }
    .section-price-inner {
        width: 90%;    

    }

    #price {
        height:auto;  
    }
    .section-price-card:nth-child(2n+1) {
        margin-right: auto;
    }

    .section-price-card {
        margin: 20px auto;
    }

    .section-news-campagin-container {
        display: block;
        width: 90%;
        margin: 0 auto;   
    }

}


@media screen and (max-width: 559px) {

}

